*{
    border: 0;
    margin: 0;
    padding: 0;
}
/* estilos para todo el header*/
h2{
    color: #090909;
    font-size: 50px;
    text-align: center;
    font-family: monospace;
}
h3{
    color: #090909;
    font-size: 40px;
    text-align: center;
    font-family: monospace;
}
#borde1{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 218px;
    z-index: -1;
}
#borde2{ /*norde recortado inferior*/
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 200px;
    z-index: -1;
    position: absolute;
}
#video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}
.title{
    position: absolute;
    font-family: monospace;
    margin: 10px;
    font-size: 30px;
    line-height: 25px; 
}
#icon_header{
    width: 130px;
    height: 130px;
    right: 0;
    position: absolute;
    z-index: 14;
}
/*estilos secciones menu y gif*/
section{
    display: flex;
    justify-content:last baseline;
}
#menu{
    background-color:  rgba(6, 6, 6, 0.200);
    box-shadow: 0px 0px 20px 0px rgba(252, 248, 248, 0.775);
    flex: 0 0 calc(50%);
    border: 2px solid #ccc;
    border-radius: 50px;
    color: aliceblue; 
}
#gif_menu{
    box-shadow: 0px 0px 20px 0px rgba(252, 248, 248, 0.775);
    flex: 0 0 calc(50%);
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 50px;
    color: aliceblue; 
    margin-left: 1%;
    padding: 0%;
}
#gif{     
    width: 100%;
    height: 100%;
    border-radius: 50px;
}
.section nav a button {
    cursor: pointer;
    background-color: rgba(252, 252, 252, 0.714);
    box-shadow: 0px 0px 10px 0px rgba(8, 243, 243, 0.912);  
    height: 100px;
    width: 100px;
    margin: 1%;
    padding: 0%;
    border-radius: 50px;
    border: 1px solid rgb(246, 6, 6);
    color: black;
    font-weight: bold;
    font-size: 20px;
    transition: transform 2s, color 2s; /* Transición en el estado normal */
}
.section nav a button:hover {
    background-color: rgba(84, 111, 193, 0.500);
    color: white;
    transform: scale(1.1); /* Cambio de tamaño en hover */
    transition: transform 0.5s, color 0.5s; /* Transición en el hover */
}
.section nav a{
    margin: 2%;
    padding: 0%;
}
/*estilos de fotter y botones*/
.footer {
    position: absolute;
    z-index: 10;
    display: flex;
    margin-top: 140px;
    width: 100%;
  }
.footer button{
    width: 3.2rem;
    height: 3.2rem;
    background-color: #1f0834;
    color: #ffffff;
    border-radius: 25px;
    margin-left: 65px;
    cursor: pointer;
    font-size: 25px;
    transition: all 0.4s ease;
    border: 1px solid #ffffff;
  }
  .footer button:hover{
    background-color: #f3eded;
    color: #1f0834;
    width: 3.5rem;
    height: 3.5rem;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.5s ease;
    border: 1px solid #ffffff;
  }

/*responsive para pantallas mas pequeñas*/
@media (max-width: 768px) {
    #menu {
        box-sizing: border-box;
        height: auto;
        border-radius: 10px;
    }
    #menu a button {     
        width: 92%; /* Ocupa todo el ancho disponible */
        font-size: 16px; /* Tamaño de fuente más pequeño */
        height: 30px;
    }
    #gif_menu {
        margin-top: 20px; /* Espacio entre el menú y la imagen */
       z-index: -1;
    }
    section{
        display: block;
    }
    #borde{
        box-sizing: border-box;
    }
    #video {
        width: 100%;
        height: 100%; 
        z-index: -2;
    }
    .title{
        position: absolute;
        font-size: 20px;
        line-height: 18px;
    }
    #icon_header{
        width: 90px;
        height: 90px;
        margin: 10px;
    }
    h2,h3{
        font-size: 25px;
    }
      .footer button{
        width: 2.2rem;
        height: 2.2rem;
        margin-left: 1px;
      }
}
